*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing:border-box;
    font-family:"Averia Serif Libre", serif;
}
body{
    background: linear-gradient(rgb(59, 59, 189),white);
}
nav{
    display:flex;
    justify-content: flex-end;
    padding:50px;
}
nav a{
    color:white;
    font-size: 1.25rem;
}
header{
    text-align:center;
    font-size:1.5rem;
    padding:35px;
    color:white;
}
.container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap:50px;
}
.column{
    width: 50%;
    padding:25px;
    background-color:rgb(95, 22, 232);
    border-radius:3%;
    color:white;
    flex-basis:150px;
}

@media (max-width:768px){
    .column{
        width:60%;
    }
}